.App {
  text-align: center;
  background-color:#CCCC00;
}

.body {
  height: calc(100vh - 140px);
}

.wrapper {
  height: calc(100% - 56px)
}

.menu {
  background-color: #FFFF00;
}

footer, header{
  background-color: black;
  color: aliceblue;
}
