.body {
  background-color:#CCCC00;
}

.menu {
  background-color: #FFFF00;
}

.footer, .header{
  background-color: black;
  color: aliceblue;
}

.colorMidleInput {
  background-color:#ffea9f;
}

.colorCard {
  background-color: #e7e748;
}